.suggestion-list{
    display: flex;
    flex-direction: column;
    background-color: white;
}

.suggestion-list button{
    background: transparent;
    color: black;
    border-radius: 0;
    border: 0;
    height: 50px;
    width: 100%;
    transition: background-color 0.5s ease-in-out;
}

.suggestion-list button:hover{
    background-color: yellowgreen;

}